{% extends 'portifolio/base.html' %}
{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1>My Blog</h1>
        </div>
        
        {% for post in posts %}

        <div class="card text-left my-4">
            <div class="card-body">
                <h4 class="card-title"> <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h4>
                <p class="card-text">{{ post.created_at|date:'d F Y' }}</p>
                <p class="card-text">{{ post.description|striptags|truncatechars:1000 }}<a href="{% url 'blog:detail' post.id %}"> [Read More]</a></p>
                
            </div>
        </div>
        {% empty %}
            <h3>No posts yet</h3>
        {% endfor %}
    </div>
    

    <script>
        $('.blog-link').addClass('active')
    </script>
{% endblock %}

